<!DOCTYPE html>
<html>
<head>
	<title>Kullanıcı Bilgileri</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css">
</head>
<body>
	<h1>Kullanıcı Bilgileri</h1>
	<table>
		<tr>
			<th>Kullanıcı Adı:</th>
			<td><%= user.username %></td>
		</tr>
		<tr>
			<th>E-posta:</th>
			<td><%= user.email %></td>
		</tr>
	</table>
</body>
</html>